<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MasterSuite">
    <listeners>
        <listener class-name="api.utilities.ExtentReportManager"/>
    </listeners>
    <test name="Test">
        <parameter name="os" value="windows"></parameter>
        <parameter name="browser" value="chrome"></parameter>
        <classes>
            <class name="api.test.UserTests"></class>
            <class name="api.test.DDTests"></class>
        </classes>
    </test>
</suite>